<div class="user">
    <div class="tech">
      <h2>Hidden Markov Model</h2>
        <img alt="First Image" src="{{ "/assets/img/hmm_generator.png" | prepend: site.baseurl }}" width = "350" height "70" />
        <img alt="First Image" src="{{ "/assets/img/generation_example.png" | prepend: site.baseurl }}" width = "350" height "70" />
        <p>I deploy the majority of my code, mostly data scrapping, using an array of Raspberry Pis, but do the coding in Windows with the VS Code Editor. <br><a href="algo.html"> Link to more </a></br></p>    
        <p>More words for it</p> 
    </div>