<div class="user-details">
    <h1>My Projects</h1>
</div>
<div class="user">
        <div class="tech">
          <h2>Algorithmic Trading</h2>
            <img alt="First Image" src="{{ "/assets/img/Kansas1.jpg" | prepend: site.baseurl }}" width = "200" height "40" />
            <p>I led a group of students to the UChicago Algorithmic Trading Competition, where we placed first overall in Options Market Making.<br><a href="algo.html"> More</a> about the competition</br></p>     
        </div>
        
        <div class="tech">
          <h2>Crypto Trading</h2> 
            <img alt="Crypto Trading Efforts" src="{{ "/assets/img/Orders.jpg" | prepend: site.baseurl }}" width = "215" height "42" />
            <p>I have created multiple trading algoriths for Cryptocurrency Exchanges, progressively iterating to be more efficient and clever.<br><a href="btc.html"> More</a> about crypto trading </br></p>
        </div>

      <div class="tech">
            <h2>Hidden Markov Model</h2> 
              <img alt="Second Image" src="{{ "/assets/img/generation_example.png" | prepend: site.baseurl }}" width = "237" height "48" />
              <p>A partner and I created a Hidden Markov Model in Python using only NumPy that generates new sentences from any text you give it.<br><a href="hmm.html"> More </a> about HMM</br></p>
          </div>

    <div class="tech">
        <h2>Oaxaca.py</h2> 
            <img alt="Second Image" src="{{ "/assets/img/oaxaca.jpg" | prepend: site.baseurl }}" width = "205" height "41" />
            <p>I created the first and only package for Oaxaca-Blinder decomposition, which is a statistical method designed to explain differences in population means.<br><a href="oaxaca.html"> More</a> about the package</br></p>
        </div>
</div>