<div class="user-details">
    <h1>My Projects</h1>
</div>
<div class="user">
        <div class="tech">
          <h2>Trading Competitions</h2>
            <img alt="Trading Comp" src="{{ "/assets/img/Kansas1.jpg" | prepend: site.baseurl }}" width = "200" height "40" />
            <p>I led a group of students to the UChicago Algorithmic Trading Competition where we placed first overall in Options Market Making. With the help of qTrade.io, I am hoping to run a competition at the University of Kansas.</p>     
        </div>
        
        <div class="tech">
          <h2>Crypto Trading</h2> 
            <img alt="Crypto Trading Efforts" src="{{ "/assets/img/Orders.jpg" | prepend: site.baseurl }}" width = "215" height "42" />
            <p>I have created multiple trading algorithms for cryptocurrency exchanges, progressively iterating to be more efficient and clever.</p>
        </div>

      <div class="tech">
            <h2>Hidden Markov Models</h2> 
              <img alt="HMM" src="{{ "/assets/img/generation_example.png" | prepend: site.baseurl }}" width = "237" height "48" />
              <p>A partner and I created a Hidden Markov Model in Python using only Pandas that generates new sentences from any text you give it.</p>
          </div>

    <div class="tech">
        <h2>StatsModels</h2> 
            <img alt="Oaxaca" src="{{ "/assets/img/oaxaca.jpg" | prepend: site.baseurl }}" width = "205" height "41" />
            <p>I created the Oaxaca-Blinder decomposition function for StatsModels. Oaxaca-Blinder is a statistical method designed to explain differences in population means.</p>
        </div>
</div>
